
{{.BodyStruct}}{{.ResultStruct}}// {{.MethodName}}
// @{{.ACTION}} /{{.MethodName| ToLower }}{{.RESP}}
func ({{.ControllerID}} *{{.ControllerName}}Controller) {{.MethodName}}(c *kapi.Context{{.Body}}) {

}
